.App {
  text-align: center;
}

img {
  border-radius: 50%;
  height: 150px;
}

button.true {
  background-color: #f44336;
}

button.false {
  background-color: #4caf50;
}
button.false,
button.true {
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 14px;
  cursor: pointer;
  transition: all 0.2s linear;
  opacity: 0.7;
}

button.true:hover,
button.false:hover {
  opacity: 1;
}

#root {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #222;
  color: #fff;
}
